.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 1.5rem;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 2.4rem;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 0.8rem;
}
.title {
  color: var(--color-gray100);
  font-size: 2rem;
  font-weight: 700;
}

.description {
  color: var(--color-gray60);
  font-size: 1.4rem;
  line-height: 2.2rem;
}
