.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경색 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modalContainer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  position: absolute;
  width: 36rem;
  height: fit-content;
  padding: 3.2rem 4rem;
  border-radius: 1.5rem;
  background-color: var(--color-white);
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 2.4rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5.1rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-gray-light);
}

.button.red {
  background-color: var(--color-red);
}

.button.blue {
  background: linear-gradient(
    91deg,
    var(--color-primary) 0.12%,
    #6ae3fe 101.84%
  );
}
