.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 1.5rem;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 2.4rem;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 0.8rem;
}
.title {
  color: var(--color-gray100);
  font-size: 2rem;
  font-weight: 700;
}

.input {
  width: 100%;
  border: 0.1rem solid var(--color-gray20);
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: var(--color-gray100);
  padding: 1.8rem 1.5rem;
  transition: border-color 0.2s ease-in-out;
}

.input::placeholder {
  color: var(--color-gray60);
}

.input:focus {
  border-color: var(--color-primary);
}
